/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/

.tablet {
    display:none;
}
 
.wrapper {
    width: 1180px;
    margin: 0 auto;
}

header {
    height: 130px;
}
 
.header {
    &-logo {
       margin-top:29px;
       margin-bottom:28px;
 
        & > img {
            width:100%;
        }
    }
    &-info {
        & > p {
            font-size: 16px;
        }
        &_tel {
            & > a {
                font-size: 24px;
            }
        }
    }
}
 
.fv {
    height: 947px;

    &-txt {
        & > p {
            margin-top:133px;
            padding:18px 37px 99px;
            font-size:28px;
            &:nth-child(1) {
                margin-left: 80px;
            }
    
            &:nth-child(2) {
                margin-left: 211px;
            } 
        }
    }
}

.sv {
    &-txt {
        &-ttl {
            & > p {
                font-size: 24px;
                &:nth-child(1) {
                    margin-top: 193px;
                    width: 288px;
                }

                &:nth-child(2) {
                    margin-top: 32px;
                    width: 216px;
                }
            }
        }

        & > p {
            font-size: 16px;
            line-height: 2.5;
        }
    }

    &-img {
        margin-top: 162px;
        margin-left: 44px;

        & > img {
            width:100%;
        }
    }
}


.remedy {
    & > .wrapper {
        & > p {
            font-size: 16px;
        }
    }
 
    &-card {
       width: 380px;
       height: 591px;
 
        &-img {
            text-align: center;
        }
 
        &:nth-child(1) {
            & > p {
                margin-bottom: 120px;
            }
        }
        
        &:nth-child(2) {
            margin: 0 20px;
            height: 591px;

            & > p {
                margin-bottom: 180px;
            }
        }
        
        &:nth-child(3) {
            & > p {
                margin-bottom: 90px;
            }
        }

        &s {
            display:flex;  
            width: 100%;
            margin: 0;
        }
    }
}
.info {
    padding:196px 0 163px 0 ;
    &-access {
        margin: 0 34px 0 0;
    }


    &-hsptl {
        &-logo {
            text-align: left;
            margin-top: 0;
        }
        &-address {
            display:inline-flex;

            & > p:nth-child(1) {
                margin-right: 16px;
            }
        }

        &-tel {
            text-align: left;
            &:before {
                left: 10px;
            }
            & > a {
                padding-left:7.5px;
            }
        }

        &-schedule {
            padding: 21.5px 0;
            & > .time {
                padding-left: 0px;
            }
        }

        &-copyright {
            text-align: right;
            font-size: 11px;
        }
    }
}

.map {
    &-pc {
        display:block;
    }

    &-mobile {
        display: none;
    }
}