/*
 *  base.scss
 */

body {
   font-family: 'Noto Sans JP', sans-serif;
   color: $color-black;
}

a {
   text-decoration: none;
   color: $color-black;

   &:visited {
      color:$color-black;
   }
}

li {
   list-style: none;
}

.txt-under {
   background:linear-gradient(transparent 70%, $color-green-highlight 70%);
}

.bg-green {
   background-color: $color-leight-green;
}

.tablet {
   display:none;
}

.wrapper {
   // width: 1170px;
   width: 360px;
   margin: 0 auto;
}

header {
   height: 100px;

   & > .wrapper {
      display:flex;
      justify-content: space-between;
      padding: 0 8px;
   }
}

.header {
   &-logo {
      margin-top:29px;
      margin-bottom:28px;

      & > img {
         width:135px;
      }
   }
   &-info {
      & > p {
         margin-top: 28px;
         margin-bottom: 7px;
         font-size: 8px;
      }
      &_tel {
         display:flex;
         justify-content:flex-end;

         & > img {
            margin-top: 4.93px;
         }

         & > a {
            margin-left: 4.78px;
            font-size: 16px;
            font-weight: bold;
            color: $color-green;
         }
      }
   }
}

.fv {
   // height: 947px;
   height: 700px;
   background-image: url(../images/fv.png);

   background-position: right 29% bottom 60%;
   
   &-txt {
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
      & > p {
         margin-top: 300px;
         // padding:18px 37px 99px;
         padding:18px 25px;
         background-color: #fff;
         font-size: 20px;
         font-weight: bold;

         &:nth-child(1) {
            // margin-left: 80px;
            margin-left: 20px;
         }

         &:nth-child(2) {
            // margin-left: 211px;
            margin-left: 21px;
            & > span {
               color:$color-green;
            }
         } 
      }
   }
}

.sv {
   & > .wrapper {
      // display: flex;
      text-align: center;
   }

   &-txt {
      &-ttl {
         & > p {
            // font-size: 24px;
            font-size: 20px;
            font-weight: bold;

            display:inline-block;

            &:nth-child(1) {
               // margin-top: 193px;
               margin-top: 50px;
               // width: 268px;
            }

            &:nth-child(2) {
               margin-top: 32px;
               // width: 216px;
            }
         }
      }

      & > p {
         // font-size: 16px;
         font-size: 12px;
         margin-top: 37px;
      }
   }

   &-img {
      // margin-top: 162px;
      margin-top: 62px;
      // margin-left: 44px;
      margin-bottom: 82px;

      & > img {
         width:300px;
      }
   }
}

.remedy {
   & > .wrapper {
      & > .title {
         text-align: center;
         & > h2 {
            margin-top: 78px;
            display: inline-block;
            font-size: 24px;
            font-weight: bold;   
         }
      }

      & > p {
         // margin-top: 70px;
         margin-top: 30px;
         margin-bottom: 34px;
         text-align: center;

         font-size: 12px;
      }
   }

   &-card {
      border: solid $color-gray 2px;
      border-radius: 10px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      // width: 350px;
      height: 530px;
      margin-bottom: 10px;

      & > h3 {
         margin-top: 40px;
         text-align: center;
         font-size: 24px;
         font-weight: bold;     
      }

      & > p {
         // margin: 45px 30px 118px;
         margin: 45px 15px 50px;
         font-size: 15px;
         font-weight: bold;  
         line-height: 30px;
         
         text-align: center;
      }

      &-img {
         text-align: center;
      }

      &:nth-child(1) {
         & > p {
            // margin-bottom: 70px;
         }
      }
      &:nth-child(2) {
         // margin: 0 20px;
         height:480px;
      }
      &:nth-child(3) {
         & > p {
            margin-bottom: 30px;
         }
      }
      &s {
         // display:flex;  
      }
   }
}

.news {
   padding-bottom: 112px;
   & > .wrapper {
      & > .title {
         text-align: center;
         & > h2 {
            margin-top: 81px;
            display: inline-block;
            font-size: 24px;
            font-weight: bold;   
         }
      }
   }

   &-list {
      // margin-top: 70px;
      margin-top: 30px;
      padding:49px 60px 46px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 30px;
      
      & > ul {
         & > li {
            // display:flex;
            border-bottom: 2px solid #E7E7E7;
            padding: 18.5px 0;

            & > time {
               font-size: 16px;
               font-weight: bold;
               color:$color-green;
            }

            & > span {
               text-align: center;
               display: inline-block;
               font-size: 12px;
               font-weight: bold;
               background-color:$color-black;
               color:$color-white;
               width:80px;
               margin:0 30px 5px;
               padding:4px 16px;
            }

            & > a {
               // font-size: 16px;
               font-size: 12px;
               font-weight: bold;
               color:$color-black;
            }
         }
      }

      & > .news-viewall {
         margin-top: 39.5px;
         text-align: right;
         // font-size: 16px;
         font-size: 12px;
         font-weight: bold;

         & > a {
            position:relative;
            &:after {
               margin-left:7.52px;
               content:'';
               position:absolute;
               top:3px;
               left:58.25px;
               border-style: solid;
               border-color: transparent transparent transparent $color-black;
               border-width: 6px 0 6px 8px;
            }
         }
      }
   }
}

.info {
   // padding:196px 0 163px 0 ;
   padding:40px 0;
   & > .wrapper {
      // display: flex;
   }

   &-access {
      // margin-right: 34px;

   }

   &-hsptl {
      &-logo {
         margin-top: 20px;
         text-align: center;
      }
      &-address {
         margin: 25px 0;
         display:flex;
         justify-content: space-around;
         font-size: 16px;

         & > p:nth-child(1) {
            margin-right: 16px;
         }
      }

      &-tel {
         text-align: center;
         position: relative;
         &:before {
            content:'';
            position: absolute;
            left: 80px;
            top: 5.7px;
            width: 25px;
            height: 25px;
            background: transparent url(../images/tel.svg) no-repeat center center/contain;
         }
         & > a {
            font-size: 24px;
            font-weight: bold;
            color: $color-green;
            margin-left: 30.14px;
         }
      }

      &-schedule {
         margin-top: 28.5px;
         border-top: 2px solid $color-light-gray;
         border-bottom: 2px solid $color-light-gray;
         padding: 19px 0;
         font-size:14px;
         color: $color-black;
         & > .time {
            display: flex;

            padding-left: 30px;

            & > .head {
               width:84px;
            }

            & > .content {
               padding-left: 28.5px;
               border-left: 2px solid $color-light-gray;
               line-height: 2;
            }

            &:nth-child(2) {
               margin-top:20px;
            }
         }
      }

      &-copyright {
         margin-top: 21.5px;
         // text-align: right;
         text-align: center;
         font-size: 14px;
      }
   }
}

.map {
   &-pc {
      display:none;
   }
}